.jumbotron {
    opacity: .6;
}

body {
    background: url("../images/background-krystal-ng-unsplash.jpg");
    background-size: cover;
    background-color: palegoldenrod;
 }

#crystal1 {
    background-color: turquoise;
    border-width: 0;
}

#crystal2 {
    background-color: pink;
    border-width: 0;
}

#crystal3 {
    background-color: paleturquoise;
    border-width: 0;
}

#crystal4 {
    background-color: plum;
    border-width: 0;
}